.trending {
    margin-left: 1rem;
    @media only screen and (min-width: 740px) and (max-width: 1023px) {
        margin-right: 15rem;
        width: 50rem;
    }
}

.category {
    @media only screen and (max-width: 1023px) {
        display: none;
    }
}

.menu {
    position: relative;
    padding: 0 0 0 0;
    margin: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: max-content;
}


/* .menu a, */

.menu a:link,
.menu a:visited,
.menu a:focus,
span {
    text-decoration: none;
}

.menu a:hover {
    color: #005ec4;
    text-decoration: none;
}

.menu>li {
    display: block;
    text-align: center;
}

.menu>li:hover>a {
    color: #005ec4;
}

.menu>li:hover {
    background-color: #fff;
}


/* Megadrop width dropdown */

.menu>li>.megadrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 0px;
    left: 11.40rem;
    width: 800px;
    min-height: 100%;
    text-align: left;
    margin-top: 30px;
    padding: 0;
    z-index: 99;
    overflow: hidden;
    background-color: white;
}

.menu>li:hover .megadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.menu .col .submenu:hover,
.menu ul li:hover:after {
    color: #005ec4;
}

.menu .col {
    width: 100%;
    color: white;
    margin: 0 0 0 3%;
}

.menu .col ul {
    padding: 15px 0 0 0;
}

.menu .col ul li {
    padding: 0;
    list-style: none;
    font-size: 11px;
}

.menu .col .title {
    font-size: 22px;
    cursor: pointer;
    color: #005ec4;
}

.menu .col .submenu {
    font-size: 16px;
    cursor: pointer;
    color: black;
}

.menu .col ul li a {
    display: block;
    padding: 0 0 15px 0;
    color: black;
}

.menu .col ul li a:hover {
    color: #111;
    text-decoration: underline;
}

.menu>li>ul li ul,
.menu li>ul li,
.menu>li>.megadrop,
.menu>li>ul,
.menu>li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}