.dot-pulse {
    position: relative;
    left: -624.9375em;
    width: 0.625em;
    height: 0.625em;
    border-radius: 0.3125em;
    background-color: red;
    color: red;
    box-shadow: 624.9375em 0 0 -0.3125em red;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 0.625em;
    height: 0.625em;
    border-radius: 0.3125em;
    background-color: red;
    color: red;
}

.dot-pulse::before {
    box-shadow: 624em 0 0 -0.3125em red;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 625.875em 0 0 -0.3125em red;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 624em 0 0 -0.3125em red;
    }
    30% {
        box-shadow: 624em 0 0 0.125em red;
    }
    60%,
    100% {
        box-shadow: 624em 0 0 -0.3125em red;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 624.9375em 0 0 -0.3125em red;
    }
    30% {
        box-shadow: 624.9375em 0 0 0.125em red;
    }
    60%,
    100% {
        box-shadow: 624.9375em 0 0 -0.3125em red;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 625.875em 0 0 -0.3125em red;
    }
    30% {
        box-shadow: 625.875em 0 0 0.125em red;
    }
    60%,
    100% {
        box-shadow: 625.875em 0 0 -0.3125em red;
    }
}

.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    margin: 0 -5%;
    overflow: hidden;
}

.container {
    margin-bottom: 1em;
    &_products {
        @media only screen and (max-width: 25.875em) {
            display: flex;
            justify-content: center;
        }
    }
}