.header {
    display: flex;
    justify-content: center;
    border-bottom: 0.0625em solid rgb(200, 200, 200);
    &_navmenu {
        display: none;
    }
    &_navbarLogo {
        cursor: pointer;
    }
    &_img {
        width: 12.5em;
        height: 3.75em;
        margin: 1.25em;
    }
    &_search {
        display: flex;
        padding: 0.1em 0.3em;
        width: 18em;
        @media only screen and (max-width: 23.5em) {
            width: 12em;
        }
    }
    &_input_search {
        margin-left: 0.3125em;
        flex: 1;
    }
    &_custom-link:hover {
        color: red;
        text-decoration-color: red;
    }
    @media only screen and (max-width: 63.9375em) {
        display: flex;
        justify-content: space-around;
        &_name_cart {
            display: none;
        }
        &_navmenu {
            margin-left: 1em;
            display: flex;
        }
        &_typography {
            display: none;
        }
    }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
        &_img {
            width: 12.5em;
            height: 3.125em;
        }
        &_search {
            width: 20em;
            padding: 0.1em 0.1em;
        }
    }
    @media only screen and (max-width: 46.1875em) {
        &_img {
            display: none;
        }
        &_search {
            margin-left: 0.5em;
            width: 13em;
        }
    }
    @media only screen and (min-width: 37.5em) and (max-width: 50em) {
        &_search {
            width: 23em;
        }
    }
}

.headerSecond {
    &_dropbtn {
        color: white;
        padding: 1em;
        font-size: 1em;
        border: none;
        cursor: pointer;
    }
    &_dropdown {
        position: relative;
        display: inline-block;
    }
    &_dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 10em;
        box-shadow: 0em 0.5em 1em 0em rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    &_dropdown-content &_a {
        color: black;
        text-decoration: none;
        display: block;
    }
    &_dropdown-content &_a:hover {
        background-color: #f1f1f1
    }
    /*  */
    &_dropdown:hover &_dropdown-content {
        display: block;
    }
    &_dropdown:hover &_dropbtn {
        color: white;
        background-color: gray;
        text-decoration-color: red;
    }
    @media only screen and (max-width: 63.9375em) {
        display: none;
    }
    &_listcate {
        border: 0.0625em solid;
        border-radius: 0.3125em;
    }
    &_custom-item {
        margin-left: 1em;
        border: 0.0625em solid;
        border-radius: 0.3125em;
    }
    &_custom-item:hover {
        color: white;
        background-color: red;
        text-decoration-color: red;
    }
}

.custom-link:hover {
    color: red;
    text-decoration-color: red;
}

.custom-link {
    cursor: pointer;
}

.custom-item:hover {
    color: white;
    background-color: red;
    text-decoration-color: red;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
    animation: fadeIn linear 0.2s;
}

.nav__mobile {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.3s, opacity linear 0.3s;
}

.nav__mobile-list {
    margin-right: 0;
}

.nav__mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4em;
}

.nav__mobile-close {
    color: #666;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

.nav__input {
    display: none;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}

.nav__mobile-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sidebar__nav__logo {
    font-size: 2rem;
    padding-left: 20px;
    font-weight: bold;
    text-decoration: none;
}

.icon-mobile {
    color: #333;
}

.nav__mobile-navmenu {
    color: rgb(49, 45, 45);
    font-weight: bold;
}

.nav__mobile-submenu {
    color: black;
    font-weight: 800;
    padding-left: 1em;
}

.nav__mobile-submenu:hover {
    color: white;
    background-color: #005EC4;
}

.nav__mobile-navmenu:hover {
    color: white;
    background-color: #005EC4;
}