.CardProduct {
    width: 16.5rem;
    padding: 18px 12px;
    &_img {
        cursor: pointer;
        height: 215;
        width: 215;
    }
    &_title {
        cursor: pointer;
        padding: 3px;
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
    }
    // @media (max-width: 1220px) {
    //     width: 14rem;
    //     padding: 12px 15px;
    // }
}

// .container {
//     @media (max-width: 1220px) {
//         width: 80%;
//     }
// }