.CardProduct {
    width: 215px;
    &_img {
        cursor: pointer;
        height: 215;
        width: 215;
    }
    &_title {
        cursor: pointer;
        padding: 3px;
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
    }
}