.CardProduct {
    width: 13.4rem;
    margin: 0.9375em 0.5em;
    &_img {
        cursor: pointer;
        height: 13.4375em;
        width: 13.4375em;
    }
    &_title {
        cursor: pointer;
        padding: 0.1875em;
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
    }
    @media only screen and (max-width: 46.1875em) {
        width: 9rem;
    }
    @media only screen and (max-width: 25.875em) {
        margin: 0.9375em 0.1em;
        width: 11rem;
    }
    @media only screen and (max-width: 23.4375em) {
        width: 9rem;
    }
}