body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* .menu-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
} */


/* dropmenu */

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/*  */

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: white;
    background-color: gray;
    text-decoration-color: red;
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    color: red;
    box-shadow: 9999px 0 0 -5px red;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    color: red;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px red;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px red;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px red;
    }
    30% {
        box-shadow: 9984px 0 0 2px red;
    }
    60%,
    100% {
        box-shadow: 9984px 0 0 -5px red;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px red;
    }
    30% {
        box-shadow: 9999px 0 0 2px red;
    }
    60%,
    100% {
        box-shadow: 9999px 0 0 -5px red;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px red;
    }
    30% {
        box-shadow: 10014px 0 0 2px red;
    }
    60%,
    100% {
        box-shadow: 10014px 0 0 -5px red;
    }
}

.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    margin: 0 -5%;
    overflow: hidden;
}

.text-checkout::after {
    display: inline;
    content: " *";
    color: red;
}

.text-note::before {
    display: inline;
    content: " *";
    color: red;
}